{% extends 'base.html' %}

{% block title %}MWS - Relevant Past Incident Search{% endblock %}

{% block header %}
Relevant Past Incident Search
{% endblock %}

{% block content %}
<h2>Recent ServiceNow Incidents</h2>
<p class="text-muted">New incidents may take a minute or two to appear and require a page refresh.</p>
{% for incident in incidents %}
    <div class="card mb-4">
        <div class="card-header">
            <strong>{{ incident[0] }}</strong> - <strong>Incident:</strong> <a href="{{ incident[4] }}">{{ incident[1] }}</a>
        </div>
        <div class="card-body">
            <strong style="color: #000131; font-size: 1rem;">Issue:</strong><p class="text-muted" style="font-size: 12px;">The user's problem extracted from the incident.</p><p class="rag">{{ incident[2] | safe }}</p>
            <strong style="color: #000131; font-size: 1rem;">AI Generated Solution:</strong><p class="text-muted" style="font-size: 12px;">The language model's interpretation of the problem, in the context of the past incidents retrieved below.</p><p class="rag">{{ incident[5] | safe }}</p>
            <strong style="color: #000131; font-size: 1rem;">Relevant Previous Incidents:</strong><p class="text-muted" style="font-size: 12px;">The past incidents retrieved from the vector database.</p><p class="rag">{{ incident[3] | safe }}</p>
            <button class="btn btn-light float-right" onclick="deleteIncident('{{ incident[1] }}')">Delete (refresh)</button>
        </div>
    </div>
{% endfor %}
<script>
    function deleteIncident(incidentId) {
        fetch(`/delete_incident/${incidentId}`, { method: 'DELETE' })
        .then(response => {
            if (response.ok) {
                location.reload();
            } else {
                alert('Failed to delete the incident.');
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>
{% endblock %}
