{% extends 'base.html' %}

{% block title %}Zabbix - Current Event Dashboard{% endblock %}

{% block header %}
Zabbix - Current Events
{% endblock %}

{% block content %}
<h2>Current Zabbix Events</h2>
<p class="text-muted">New incidents may take a minute or two to appear and require a page refresh.</p>
{% for incident in zabbix_incidents %}
    <div class="card mb-4">
        <div class="card-header">
            <strong>{{ incident[0] }}</strong> - <strong>Zabbix Alert:</strong> <a href="{{ incident[4] }}">{{ incident[1] }}</a>
        </div>
        <div class="card-body">
            <strong style="color: #000131; font-size: 1rem;">Alert Details:</strong><p class="text-muted" style="font-size: 12px;">Details of the alert triggered by Zabbix.</p><p class="rag">{{ incident[2] | safe }}</p>
            <strong style="color: #000131; font-size: 1rem;">Relevant Past Incidents:</strong><p class="text-muted" style="font-size: 12px;">The past incidents retrieved from the vector database.</p><p class="rag">{{ incident[3] | safe }}</p>
            
        </div>
    </div>
{% endfor %}
<script>
    function deleteIncident(incidentId) {
        fetch(`/delete_incident/${incidentId}`, { method: 'DELETE' })
        .then(response => {
            if (response.ok) {
                location.reload();
            } else {
                alert('Failed to delete the incident.');
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>
{% endblock %}
